body{
	background-color: gray;
}
.two{
	margin: 0 10px;
}
.con{
	display: flex;
	justify-content: center;
}
.two a{
	font-size: 40px;
	font-weight: bolder;
	display: block;
	color: blue;
	text-decoration: none;
	padding: 10px 10px;
	background-color: #f6f6;
	border-radius: 25px;
	transition:transform 0.6s ease;
	text-align: center;
	box-shadow: 0 2px 2px black,0 2px 3px black;
}
.two a:hover{
	background-color: #ffff;
	color: gray;
}
.two img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid #fff;
}
p{
	font-size: 40px;
	font-family: fantasy;
	text-align: center;
	color: #88B60B8A;
}

.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap:25px;
	margin-top: 100px;
}
.card{
	width: 350px;
	background-color: lightblue;
	border-radius: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	transition: transform 0.6s ease;
	margin-left: 10px;
}
.card:hover{
	transform:translateY(-40px);
}
.card img{
	width: 100%;
	height:300px;
	object-fit: cover;
	margin-left: 0px;
}
.card-content{
	padding: 20px;
}
.card-content h1{
	font-size: 24px;
	margin-bottom: 10px;
}
.card-content p{
	font-size: 15px;
	color:orange;
	margin-bottom: 20px;
}
h1{
	font-size: 80px;
	font-family:fantasy;
	text-align: center;
	text-shadow:0px 0px 30px brown;
	letter-spacing: 0.5em;
	color: brown;
}
/*.stfood{
	background-color: gray;
	border-radius: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	margin-left: 10px;
	display: flex;

}
.stfood img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}*/
 .aa{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap:25px;
	margin-top: 100px;
}
.bb{
	width: 370px;
	background-color: #f4f4f4;
	border-radius: 5%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	transition: transform 0.6s ease;
	margin-left: 10px;
}
.bb:hover{
	transform:translateY(-40px);
}
.bb img{
	width: 100%;
	height:300px;
	object-fit: cover;
	margin-left: 0px;
	margin-bottom: 10px;
	border-radius: 5%;
}
.jj{
	padding: 20px;
}
.jj h1{
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
}